.tabla{
    width:100%;
}
.lista{
    width: 100%;
}
.fila{
    width:100%;
}
.casilleroTaTeTi{
    width:30%;
}
.casilleroBuscaMinasFacil{
    width:10%;
    display:inline-block;
}
.casilleroBuscaMinasMedio{
    width:3.333333333%;
    display:inline-block;
}
.casilleroBuscaMinasDificil{
    width:2%;
    display:inline-block;
}
#juegotateti .btn{
    padding-top: 20%;
    padding-bottom: 20%;
}
.botonBuscaminas{
    border-radius: 10%;
    color:transparent;
    border-color: #337ab7;
    background-color: #337ab7;
    width:100%;
    padding-bottom: 10%;
    padding-top: 10%;
}