.tabla{
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
}
.fila{
    width:100%;
}
.casillero{
    width:30%;
}
#juego .btn{
    padding-top: 20%;
    padding-bottom: 20%;
}
