.tabla{
    width:100%;
}
.fila{
    width:100%;
}
.casillero .tateti{
    width:30%;
}
.casillero .buscaminasFacil{
    width:10%;
}
.casillero .buscaminasMedio{
    width:3%;
}
.casillero .buscaminasDificil{
    width:1%;
}
#juego .btn{
    padding-top: 20%;
    padding-bottom: 20%;
}
